.settings--label{
    font-family: Raleway-Regular;
    top: 5px;
    font-size: 0.8125em;
    color: #21252A;
    letter-spacing: 5.49px;
}
.setting--upload-img {
	height: 100px;
	width: 100px;
}
.form-button--settings {
	margin-bottom: 50px;
	margin-top: 50px;
}
.signup--md {
	
}