// .btn-defult {
// 	background: #000000;
// 	font-family: Raleway-Regular;
// 	font-size: 1.5em;
// 	color: #FFFFFF;
// 	letter-spacing: 8.14px;
// }
// BUTTONS
//

// SETTING DEFAULT STYLING FOR BUTTONS

.trans{
  -webkit-transition: all .5s ease-out ;
    -moz-transition: all .5s ease-out ;
    -o-transition: all .55s ease-out ;
    transition: all .5s ease-out ;
}

%btn{
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.15px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 3px;
    // border: 1px solid #bbb;
    cursor: pointer;
}

.btn--block{
  display: block;
  width: 100%;
}

.btn__primary{
  @extend %btn;
  @extend .trans;
  background-color: $brand-primary;
  border: 2px solid $brand-primary;
  color: $white;
  &:hover{
    background-color: transparent;
    color: $brand-primary;
  }
  &:focus{
    outline: none;
  }
}

.btn__secondary--outline{
  @extend %btn;
  border: 2px solid $white;
  color: $white;

  &:hover{
    background-color: $white;
    color: $black;
  }
}

.btn__primary--link{
  @extend %btn;
  color: #33C3F0;
  border: 1px solid transparent;

  &:after {
    content: "→";
    font-size: 14px;
  }
}

.btn__success{
  @extend %btn;
  background-color: $brand-success;
  border: 1px solid $brand-success;
  color: #fff;
}

.btn__success--outline{
  @extend %btn;
  border: 1px solid $brand-success;
  color: $brand-success;
}

.btn__success--link{
  @extend %btn;
  color: $brand-success;
  border: 1px solid transparent;

  &:after {
    content: "→";
    font-size: 14px;
  }
}

.btn__warning{
  @extend %btn;
  background-color: $brand-warning;
  border: 1px solid $brand-warning;
  color: #fff;
}

.btn__warning--outline{
  @extend %btn;
  border: 1px solid $brand-warning;
  color: $brand-warning;
}

.btn__warning--link{
  @extend %btn;
  color: $brand-warning;
  border: 1px solid transparent;

  &:after {
    content: "→";
    font-size: 14px;
  }
}

.btn__disabled{
  @extend %btn;
  border: 2px solid $gray-light;
  color: $gray-light;
  &:focus{
    outline: none;
  }
}

.btn__danger{
  @extend %btn;
  background-color: $gray-light;
  border: 1px solid $gray-light;
  color: #fff;
}

.btn__danger--outline{
  @extend %btn;
  border: 1px solid $brand-danger;
  color: $brand-danger;
}

.btn__danger--link{
  @extend %btn;
  color: $brand-danger;
  border: 1px solid transparent;

  &:after {
    content: "→";
    font-size: 14px;
  }
}
