@import url(https://fonts.googleapis.com/css?family=Raleway:200italic,400,300,700italic|Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic);

$modular-scale-ratio: 1.25;

@function modular-scale($increment, $value: $font-size-root, $ratio: $modular-scale-ratio) {
  @return #{ math-pow($ratio, $increment) }rem;
}

// TYPE
// =========================== //


html { font-size: $font-size-root; }

body {
  font-size: modular-scale(0);
  line-height: 1.5;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-base;
}

h1 { font-size: modular-scale(5); }
h2 { font-size: modular-scale(4); }
h3 { font-size: modular-scale(3); }
h4 { font-size: modular-scale(2); }
h5 { font-size: modular-scale(1); }
h6 { font-size: modular-scale(0); }

p,ul,ol {
  // font-size: modular-scale(0);
  font-size: 1rem;
  font-family: $font-family-sans; 
}

// DISPLAY TYPE
.mega { font-size: modular-scale(7); }
.kilo { font-size: modular-scale(6); }

// SMALL TYPE
small,
.milli {
  font-size: modular-scale(-1);
}

.micro {
  font-size: modular-scale(-2);
}

.text__white {
	color: $white;
}
.text__primary {
  color: $brand-primary;
}
.text__danger {
  color: $brand-danger;
}
.text__success {
  color: $brand-success;
}
.heavy {
  font-weight: 600;
}
a {
  color: $brand-primary;
  &:hover{
    color: $brand-primary;
  }
}