.text-box {
	border: 1px solid #979797;
	box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
}
.defult--input {
	background: #F9F9F9;
	height: 50px;
	border: none;
	border-radius: 0;
	border: $gray-light 1px solid;
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 166, 35, 0.6);	
}

.form-group--login {
	margin-top: 20px;	
}
.form-group--siginup {
	margin-top: 20px;
}

.login--welcome {
	margin-top: 50px;
	font-family: Raleway-Regular;
	font-size: 44px;
	color: #21252A;
	letter-spacing: 8.96px;
}

.login--alt-forms {
	font-family: OpenSans;
	font-size: 17px;
	color: #222223;
	letter-spacing: 3.47px;
	&::after{
		content:"";
		position: relative;
		height: 1px;
		width: 100px;
		top: 100px;
		background-color:rgba(151,151,151, .57); 
	}	
}
.defult--button {
	margin-top: 20px;
	margin-bottom: 55px;
}
// .signup--sm::before {
// 	content: " ";
// 	background-image: linear-gradient(90deg, #11C7B8 0%, #1A5A78 100%);
// 	height: 2px;
// 	width: 14.01em; 
// 	position: absolute;
// 	top: 5.125rem;
// }
// .signup--lg::before {
// 	content: " ";
// 	background-image: linear-gradient(90deg, #11C7B8 0%, #1A5A78 100%);
// 	height: 2px;
// 	width: 37.51em; 
// 	position: absolute;
// 	top: 5.125rem;
// }
.form-button {
    margin-top: 32px;
    left: -1.8125rem;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: #D8D8D8 !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: none;
	background-image: none;
	color: $black;
	
}
